:root {
    --primary-color: #006747;
}

.button {
    background-color: var(--primary-color);
}

.navbar {
    height: 6em;
}

.navbar .logo {
    height: 5em;
}

.navbar span, .navbar label {
    font-size: 2rem;
}