:root {
    --primary-color: #006747;
}

body {
    font-size: 1.3em;
}

.container {
    padding-top: 5em;
}

.button {
    background-color: var(--primary-color);
}

.navbar {
    height: 5em;
}

.navbar .logo {
    height: 4em;
}

.navbar span {
    display: inline-block;
    max-width: 65vw;
    word-wrap: normal;
    white-space: normal;
}

.navbar span, .navbar label {
    font-size: 1.2rem;
}

@media (width > 600px) {
    .promise-container {
        position: relative;
        padding: 1rem;
        margin: 2rem;
    }
    
    .headshot {
        width: 50%;
        min-width: 300px;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .promise-card {
        position: absolute;
        z-index: 100;
        left: 35vw;
        border: none;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgb(170, 170, 170) 25%);
    }
}

@media (width <= 600px) {
    .promise-container {
        display: flex;
        flex-direction: column;
        padding: .6em .8em;
        margin: 1em, 1.2em;
    }
    
    .headshot {
        width: 100%;
    }
}

.promise-card span {
    font-size: 1rem;
    padding: .6em .8em;
}